body{
    background: rgb(245, 255, 157);
    color: darkblue;        
    font-family: "Itim", serif;  
    margin-bottom: 100px;
}
header{
border-bottom: 3px solid cyan;
padding: 20px;
color: rgb(38, 0, 255);
font-size: 35px;
}

.chamada{
 background: rgb(252, 229, 229);
padding-bottom: 80px;
padding-top: 80px;
display: flex;
justify-content: center;
margin-right: 25%;
}
h1{font-size: 35px;


}